.footer.mt-5
    .container.py-5
        .row.mb-4
            .col.footer_logo
                img(src="../assets/logo-footer.png", alt="")
        .row.d-flex.justify-content-center.mb-4
            .col-sm-10.col-md-8.text-center
                p Newspaper is your news, entertainment, music fashion website. We provide you with the latest breaking news and videos straight from the entertainment industry.
                p 
                    |Contact us: 
                    a(href="mailto:ourmail@gmail.com") ourmail@gmail.com
        .row
            .col.socials
                a(href="#")
                    i.fab.fa-facebook-f
                a(href="")
                    i.fas.fa-envelope
                a(href="")
                    i.fab.fa-twitter
                a(href="")
                    i.fab.fa-youtube
                a(href="")
                    i.fab.fa-instagram
.footer-copy-right
    .container
        .row
            .col.text-center &copy; baogia.vn