nav.pushy.pushy-left
    .close-menu
        img(src="../assets/close-x-small-white.png", alt="")
    .logo.text-uppercase Bloggia
    h1.text-uppercase.text-white.font-bolder.pl-4.mt-4 Tra cứu
    hr.hr-white
    ul.pushy_menu
        li
            a(href="./searchByRate.html") Định mức
        li
            a(href="./searchByPrice.html") Đơn giá
        li
            a(href="./searchByLocalPrice.html") Công bố giá địa phương
        li
            a(href="./searchBySampleText.html") Văn bản mẫu
header.header-nav
    .container
        .row.m-0
            .socials
                a(href="#")
                    i.fab.fa-facebook-f
                a(href="#")
                    i.fas.fa-envelope
                a(href="#")
                    i.fab.fa-twitter
                a(href="#")
                    i.fab.fa-youtube
                a(href="#")
                    i.fab.fa-instagram
            .user-section.ml-auto
                a(href="#")
                    i.fas.fa-user.pr-2
                    | Admin
.header-banner
    .container.py-4
        .row.m-0.justify-content-center.justify-content-lg-between.flex-lg-nowrap
            .logo
                a(href="./index.html")
                    img(src="../assets/logo.jpg", alt="")
            .ads-header
                a(href="#")
                    img(src="../assets/ads-header.jpg", alt="")
.navbar.navbar-expand-md.navbar-dark.bg-dark.bg-nav-scroll.custom-nav
    .container
        button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
            span.navbar-toggler-icon

        .collapse.navbar-collapse#navbarSupportedContent
            ul.navbar-nav
                li.nav-item.active
                    a.nav-link(href="./index.html")
                        |Trang chủ
                        span.sr-only (current)
                li.nav-item
                    a#search-nav.nav-link(href="#") Tra cứu
                li.nav-item
                    a.nav-link(href="./searchDefault.html") Văn bản luật
                li.nav-item
                    a.nav-link(href="./searchByRate.html") Định mức
                li.nav-item
                    a.nav-link(href="./searchByPrice.html") Đơn giá
                li.nav-item
                    a.nav-link(href="./searchByLocalPrice.html") Giá VLXD
                li.nav-item
                    a.nav-link(href="./searchBySampleText.html") Văn bản mẫu