// HEADER
.header-nav{
    padding: 0 1rem;
    border-bottom: 1px solid #e9e9e9;
    border-top: 4px solid #009688;
    background-color: #f9f9f9;
    @include box-shadow(0 0 5px 0 rgba(0,0,0,.12));
    a{
        display: inline-block;
        padding: .35em .35em;
        color: #2f2f2f;
        text-decoration: none;
    }
}
.header-banner{
    padding: 0 1rem;
}
.ads-header{
    img {
        width: 100%;
    }
}
@media screen and (max-width: 575px){
    .ads-header{
        img {
            display: none;
        }
    }
}
// END HEADER

//NAVIGATION
.navbar {
    padding: 0 1rem;
    border-bottom: 5px solid $primary-color;
}
.navbar-dark{
    .navbar-nav{
        .nav-link{
            color: $white;
            padding: 1rem 1.5rem;
            position: relative;
            z-index: 0;
            text-transform: uppercase;
            &:before{
                content: '';
                width: 80%;
                height: 100%;
                background-color: transparent;
                position: absolute;
                top: 0;
                left: 10%;
                z-index: -1;
                @include transition();
            }
            &:focus, 
            &:hover {
                color: $white;
                &:before{
                    width: 100%;
                    left: 0;
                    background-color: $dark;
                }
                
            }
        }
    }
}
.nav-item{
    &.active{
        background-color: $dark;
    }
}

.dropdown-menu{
    margin-top: 0;
    @include border-radius(0);
}
//END NAVIGATION

// SIDE MENU
.pushy-open-left{
    .site-overlay{
        display: block;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 9998;
        background-color: rgba(255,255,255,0.7);
        -webkit-animation: fade 500ms;
        animation: fade 500ms;
    }
}
@keyframes fade {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

@-webkit-keyframes fade {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}
.pushy{
    position: fixed;
    width: 320px;
    @include transform(translateX(-340px));
    height: 100%;
    top: 0;
    z-index: 9999;
    background: #191918;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    @include box-shadow(4px 0 5px -1px #aaa);
    @include transition(0.2s,transform,cubic-bezier(.16, .68, .43, .99));
    &_menu{
        margin: 0;
        list-style-type: none;
        padding: 0;
        a{
            display: block;
            padding: 0.5em 0.5em 0.5em 1em;
            font-weight: 900;
            text-transform: uppercase;
            font-size: 1.4em;
            color: #fff;
            text-decoration: none;
        }
    }
    .close-menu {
        float: left;
        font-size: 1.6em;
        color: #fff;
        padding: 13px 15px 0 20px;
        cursor: pointer;
        img{
            width: 22px;
        }
    }
    .logo {
        padding: 6px 13px 6px 68px;
        font-size: 2.5em;
        font-weight: 900;
        color: $primary-color;

    }
}
// END SIDE MENU

//TABS
.tabs{    
    border-bottom: 4px solid $primary-color;
    display: flex;
    align-items: baseline;
    &_heading{
        color: #222;
        text-transform: uppercase;
        font-size: 1.6em;
        font-weight: 900;
    }
    :nth-child(2){
        margin-left: auto !important;
    }
    .nav-item{
        margin-left: 2em;
        a{
            color: #777;
            text-decoration: none;
            font-weight: 600;
            &.active,
            &:hover{
                color: #222;
            }
        }
    }
}

.article-detail{
    :nth-child(2){
        margin-left: 0 !important;
    }
    .nav-item{
        margin-left: 0 !important;
        a{
            padding: .5em .5em;
            display: inline-block;
            color: #777;
            text-decoration: none;
            font-weight: 600;
            margin-left: 0 !important;
            @include transition();
            &.active,
            &:hover{
                color: #fff;
                background-color: $primary-color;
            }
        }
    }
}
//END TABS

// POST
.posts-group{
    .group_heading{
        color: #222;
        text-transform: uppercase;
        font-size: 1.6em;
        font-weight: 900;
        border-bottom: 4px solid $dark;
        &.blue-line{
            border-bottom-color: $blue;
        }
        &.red-line{
            border-bottom-color: $red;
        }
        &.green-line{
            border-bottom-color: $primary-color;
        }
        &.black-line{
            border-bottom-color: $tb-black;
        }
        &.grey-line{
            border-bottom-color: $tb-grey;
        }
        &.brown-line{
            border-bottom-color: $tb-brown;
        }
    }
}
.group-control{
    .control{
        display: inline-block;
        margin-right: 7px;
        width: 25px;
        height: 25px;
        line-height: 24px;
        border: 1px solid #dcdcdc;
        text-align: center;
        vertical-align: middle;
        font-size: 7px;
        color: #b7b7b7;
        @include transition();
        &.disabled{
            opacity: .5;
        }
        &:hover{
            color: $primary-color;
            border-color: $primary-color;
        }
    }
}
.group_content{
    .post{
        &:last-of-type{
            border-bottom: 0 !important;
        }
    }
}
.post{
    img{
        width: 100%;
    }
    &.list-item{
        display: flex;
        align-items: flex-start;
        margin-bottom: .8em;
        img{
            width: 100px;
        }
        .post_title{
            padding-top: 0;
            margin-bottom: .5em;
        }
        .post_body{
            padding-left: 1em;
        }
    }
    &_thumbnail{
        min-width: $thumbnail-radius;
        height: $thumbnail-radius;
        flex-basis: $thumbnail-radius;
        color: #fff;
        font-size: 4em;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 8px;
        &.tb-green{
            background-color: $tb-green;
        }
        &.tb-red{
            background-color: $tb-red;
        }
        &.tb-cyan{
            background-color: $tb-cyan;
        }
        &.tb-brown{
            background-color: $tb-brown;
        }
        &.tb-black{
            background-color: $tb-black;
        }
        &.tb-blue{
            background-color: $tb-blue;
        }
        &.tb-purple{
            background-color: $tb-purple;
        }
        &.tb-grey{
            background-color: $tb-grey;
            color: #111;
        }
    }
    &_img{
        position: relative;
    }
    &_label{
        padding: .3em .8em;
        background-color: $tb-grey;
        color: #111;
        font-weight: bold;
        font-size: 0.8em;
        display: inline-block;
        margin-right: 0.5em;
        text-transform: uppercase;
        &.absolute{
            bottom: 0;
            left: 0;
            position: absolute;
        }
    }
    &_title{
        color: #111;
        padding-top: .6em;
        font-weight: 500;
        &:hover{
            color: #7F8FBC;
            @include transition();
        }
        a{
            text-decoration: none;
            color: inherit;
        }
    }
    &_info{
        font-size: 0.9em;
        padding-bottom: 0.6em;
    }
    &_author{
        color: #000;
        font-weight: bold;
    }
    &_time{
        color: #aaa;
        font-size: 0.85em;
    }
    &_content{
        color: #777;
    }
}
.list-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.search-wrapper{
    .post{
        &.list-item{
            display: flex;
            align-items: stretch;
        }
        padding-bottom: 0.8em;
        border-bottom: 1px dotted #ccc;
        &_thumbnail{
            min-width: $thumbnail-radius*0.8;
            height: $thumbnail-radius*0.8;
            flex-basis: $thumbnail-radius*0.8;
            font-size: 4em*0.8;
            position: relative;
            
        }
        &_count{
            position: absolute;
            bottom: 0;
            right: 0;
            padding: 0 0.3em;
            font-family: monospace;
            color: #fff;
            font-size: 1rem;
            background-color: rgba(255,255,255,.1);
        }
        &_status{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            &>*{
                font-size: 0.85em;
                display: flex;
                white-space: nowrap;
                font-weight: normal;
                color: #aaa;
                justify-content: space-between;
                span{
                    font-weight: normal;
                    padding-left: .5em;
                }
            }
        }
        &_body{
            padding-right: 1em;
            display: flex;
            flex-direction: column;
        }
        &_title{
            flex-grow: 1;
            margin-bottom: 0 !important;
        }
        &_footer{
            a{
                display: inline-block;
                padding-right: .5em;
                font-size: 0.9em;
                text-decoration: none;
                color: #aaa;
                &:hover{
                    color: $primary-color;
                }
            }
        }
    }
}
// END POST

// FOOTER
.footer{
    background-color: #222;
    color: #eaeaea;
    position: relative;
    &:before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: 100% auto;
        background-position: center bottom;
        opacity: .6;
        background-image: url('../assets/bg-footer.png');
    }
    &_logo{
        text-align: center;
        img{
            width: 100%;
            max-width: 272px;
        }
    }
    a{
        color: #009688;
    }
    .socials{
        display: flex;
        justify-content: center;
        a{
            color: #fff;
            display: inline-block;
            width: 36px;
            height: 36px;
            background-color: rgba(255,255,255,.05);
            border: 1px solid rgba(255,255,255,.13);
            @include border-radius();
            display: flex;
            justify-content: center;
            align-items: center;
            @include transition();
            margin-left: 0.5em;
            margin-right: 0.5em;
            &:hover{
                text-decoration: none;
                color: #4db2ec;
            }
        }
    }
}

.footer-copy-right{
    background-color: #0d0d0d;
    color: #ccc;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}
// END FOOTER

// BUTTONS
.btn-white{
    color: #222;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-left-width: 0;
    @include transition();
    &:hover{
        color: $primary-color;
    }
}
.br-none{
    border-right: 0;
}
.btn-outline-primary {
    color: $primary-color;
    background-color: transparent;
    border-color: $primary-color;
    border-width: 2px;
    text-transform: uppercase;
    font-size: 0.9em;
    font-weight: bold;
    &:hover{
        background-color: $primary-color;
        color: #fff;
        border-color: $primary-color;
    }
}
.btn-outline-red {
    color: $red;
    background-color: transparent;
    border-color: $red;
    border-width: 2px;
    text-transform: uppercase;
    font-size: 0.9em;
    font-weight: bold;
    &:hover{
        background-color: $red;
        color: #fff;
        border-color: $red;
    }
}
.btn-outline-blue {
    color: $blue;
    background-color: transparent;
    border-color: $blue;
    border-width: 2px;
    text-transform: uppercase;
    font-size: 0.9em;
    font-weight: bold;
    &:hover{
        background-color: $blue;
        color: #fff;
        border-color: $blue;
    }
}
.btn-primary {
    color: #fff;
    background-color: $primary-color;
    border-color: $primary-color;
    &:hover{
        background-color: lighten($primary-color,3%);
        border-color: lighten($primary-color,3%);
    }
}
// END BUTTONS

// BANNER
.banner{
    margin-left: -2px;
    margin-right: -2px;
    
    .news{
        border: 2px solid #fff;
        position: relative;
        overflow: hidden;
        &:before{
            content: '';
            bottom: 0;
            display: block;
            height: 70%;
            width: 100%;
            position: absolute;
            z-index: 1;
            background: -moz-linear-gradient(top,rgba(0,0,0,0) 40%,rgba(0,0,0,0.7) 100%);
            background: -webkit-gradient(linear,left top,left bottom,color-stop(40%,rgba(0,0,0,0)),color-stop(100%,rgba(0,0,0,0.7)));
            background: -webkit-linear-gradient(top,rgba(0,0,0,0) 40%,rgba(0,0,0,0.7) 100%);
            background: -o-linear-gradient(top,rgba(0,0,0,0) 40%,rgba(0,0,0,0.7) 100%);
            background: -ms-linear-gradient(top,rgba(0,0,0,0) 40%,rgba(0,0,0,0.7) 100%);
            background: linear-gradient(to bottom,rgba(0,0,0,0) 40%,rgba(0,0,0,0.7) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000',endColorstr='#b3000000',GradientType=0);
        }
        &:hover{
            img{
                @include transform(scale(1.04));
            }
        }
        img{
            width: 100%;
            display: block;
            @include transition();
        }
        &_label{
            padding: 0.35em 0.5em;
            background-color: black;
            display: inline-block;
            @include transition();
            text-transform: uppercase;
            letter-spacing: 0.0.5em;
            font-size: 0.8em;
            cursor: pointer;
            &:hover{
                background-color: $primary-color;
            }
        }
        &_content{
            color: #fff;
            position: absolute;
            bottom: .5em;
            left: 1em;
            z-index: 2;
            a{
                color: #fff;
                text-decoration: none;
            }
        }
        &_info{
            font-size: 0.8em;
        }
        &_title{
            margin-top: 0.25em;
        }
        &_author{
            font-weight: bold;
        }
    }
    .grid-news{
        display: flex;
        flex-wrap: wrap;
        .news{
            flex-basis: 50%;
        }
    }
}

@media screen and (min-width: 768px){
    .banner{
        display: flex;
        &>*{
            flex-basis: 50%;
            max-width: 50%;
        }
    }
    .main-news{
        height: 250px;
    }
    .news{
        position: relative;
        img{
            width: 100%;
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            margin: auto;
            display: block;
        }
    }
}
@media screen and (min-width: 992px){
    .banner>*{
        flex-basis: 50%;
        max-width: 50%;
    }
    .main-news{
        height: 350px;
    }
}
// END BANNER

// SEARCH
.search{
    &_option{
        background-color: #f4f4f4;
        padding: 1em;
    }
    &_advanced{
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
    }
}
.advance-toggle{
    cursor: pointer;
    i{
        margin-top: -2px;
    }
}
.date-control{
    max-width: 80px;
}
@media screen and (max-width: 767px){
    .w-md-full{
        width: 100%;  
    }
    .search-box{
        min-width: 200px;
        border-top: 0 !important;
    }
    .btn-search{
        border-top: 0;
        margin-right: 1px;
    }
}
.alert{
    @include border-radius(0);
}
.form-control{
    height: calc(2.75rem + 2px);
    padding: .6rem .75rem;
}
// END SEARCH


// STATISTIC
.statistic{
    padding-bottom: 120%;
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    overflow: hidden;
    display: block;
    &.box-1{
        background-image: url('../assets/img/11-534x462.jpg');
    }
    &.box-2{
        background-image: url('../assets/img/10-534x462.jpg');
    }
    &.box-3{
        background-image: url('../assets/img/9-534x462.jpg');
    }
    &.box-4{
        background-image: url('../assets/img/8-534x462.jpg');
    }
    &:before{
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 1;
        background-color: #000;
        opacity: .7;
        top: 0;
    }
    &:after{
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 1;
        background-color: $primary-color;
        opacity: 0;
        top: -50%;
        left: 50%;
        pointer-events: none;
        @include transition(0.5s,ease,all);
    }
    &:hover{
        &:after{
            opacity: 0.2;
            top: 0;
            left: 0;
        }
    }
    .content{
        color: #fff;
        z-index: 2;
        position: absolute;
        left: 50%;
        top: 50%;
        @include transform(translate(-50%,-50%));
    }
}
// END STATISTIC

// MODAL
.modal-content{
    border: 0;
    @include border-radius(0);
    a{
        color: $primary-color;
        text-decoration: none;
    }
    .modal-header{
        border-bottom: 2px solid $primary-color;
    }
}
@media (min-width: 576px){
    .modal-dialog {
        max-width: 320px;
        margin: 1.75rem auto;
    }
}
// END MODAL

// ARTICLE DETAIL
.table{
    .name{
        font-weight: bold;
    }
}
// END ARTICLE DETAIL

// PAGINATION
.page-item{
    &.active{
        .page-link {
            background-color: $primary-color;
            border-color: $primary-color;
        }
    }
    &.disabled{
        .page-link {
            color: #b7b7b7;
            border-color: #dcdcdc;
            opacity: 0.5;
        }
    }
}
.page-link {
    color: #b7b7b7;
    border: 1px solid #dcdcdc;
    &:hover{
        color: $primary-color;
        background-color: #fff;
        border-color: $primary-color;
    }
}
.page-item{
    &:first-child,
    &:last-child{
        .page-link{
            @include border-radius(0);
        }
    }
}
// END PAGINATION