$primary-color: #009688;


$dark: #020000;
$dark-grey: #303030;

$white: #fff;

$blue: #3f51b5;
$red: #e91e63;
// END TEST COLORS


// THUMBNAILS
$tb-black: #1E1E1E;
$tb-red: #DD4118;
$tb-green: #688B27;
$tb-brown: #CD7F13;
$tb-cyan: #00645A;
$tb-purple: #9911B1;
$tb-grey: #EAF0F0;
$tb-blue: #1D3B91;
$thumbnail-radius: 80px;
// END THUMBNAILS


// TEXTs
$text-colors: () !default;
$text-colors: map-merge((
    "text-green": $primary-color,
    "text-white": $white,
    "text-red": $red
), $text-colors);

@each $name,$color in $text-colors{
    .#{$name}{
        color: $color;
    }
}

// BACKGROUND COLORS
$bg-colors: () !default;
$bg-colors: map-merge((
    "bg-dark": $dark-grey,
    "bg-grey": $tb-grey
), $bg-colors);

@each $name,$color in $bg-colors{
    .#{$name}{
        background-color: $color !important;
    }
}
