extends ../layouts/layout_homepage.pug
include ../mixins/_tab.pug
block append main-content
    //- .container.search-wrapper.mt-5
    //-     nav(aria-label="breadcrumb")
    //-         ol.breadcrumb
    //-             li.breadcrumb-item
    //-                 a(href="./index.html") Trang chủ
    //-             li.breadcrumb-item
    //-                 a(href="./index.html") Văn bản luật
    //-             li.breadcrumb-item.active(aria-current="page") Văn bản
    .container.mt-5
        .row
            .col-lg-9
                +article-tabs([{id: 'tab1',name: 'Thuộc tính'},{id: 'tab2',name: 'Nội dung'},{id: 'tab3',name: 'Văn bản gốc'},{id: 'tab4',name: 'Lược đồ'},{id: 'tab5',name: 'Liên quan hiệu lực'},{id: 'tab6',name: 'Liên quan nội dung'},{id: 'tab7',name: 'Tải về'}])         
                    +tab-item('tab1','true')
                        .row
                            .col.content-wrapper
                                p Chỉ thị 03/CT-TTg năm 2019 thực hiện Nghị quyết 582/NQ-UBTVQH14 về nhiệm vụ giải pháp tiếp tục đẩy mạnh thực hiện chính sách, pháp luật về quản lý và sử dụng nguồn vốn vay nước ngoài do Thủ tướng Chính phủ ban hành
                                .row.no-gutter
                                    .col-sm-6
                                        table.table.table-bordered
                                            tbody
                                                tr
                                                    td.name Số hiệu
                                                    td.data 03/CT-TTg
                                                tr
                                                    td.name Nơi ban hành
                                                    td.data Thủ tướng Chính phủ
                                                tr
                                                    td.name Ngày ban hành
                                                    td.data 30/01/2019
                                                tr
                                                    td.name Ngày công báo
                                                    td.data Đang cập nhật
                                    .col-sm-6
                                        table.table.table-bordered
                                            tbody
                                                tr
                                                    td.name Loại văn bản
                                                    td.data Chỉ thị
                                                tr
                                                    td.name Người ký
                                                    td.data Nguyễn Xuân Phúc
                                                tr
                                                    td.name Ngày hiệu lực
                                                    td.data 30/01/2019
                                                tr
                                                    td.name Số công báo
                                                    td.data Đang cập nhật
                                                tr
                                                    td.name Tình trạng
                                                    td.data.text-red Còn hiệu lực

                                
                    +tab-item('tab2')
                        .row
                            .col Nội dung
                    +tab-item('tab3')
                        .row
                            .col Tab 3
                    +tab-item('tab4')
                        .row
                            .col-sm-6
                                table.table.table-bordered.table_current-view
                                    thead
                                        tr
                                            th(colspan="2") Văn bản đang xem
                                    tbody
                                        tr
                                            td.border-top-0(colspan="2") Nghị định 32/2015/NĐ-CP về Quản lý chi phí đầu tư xây dựng
                                        tr
                                            td Số hiệu
                                            td 32/2015/NĐ-CP
                                        tr
                                            td Loại văn bản
                                            td Nghị định
                                        tr
                                            td Lĩnh vực, ngành
                                            td Đầu tư, Xây dựng - Đô thị
                                        tr
                                            td Nơi ban hành
                                            td Chính phủ
                                        tr
                                            td Người ký
                                            td Nguyễn Tấn Dũng
                                        tr
                                            td Ngày ban hành
                                            td 25/03/2015
                                        tr
                                            td Ngày hiệu lực
                                            td 10/05/2015
                                        tr
                                            td Ngày đăng
                                            td 08/04/2015
                                        tr
                                            td Số công báo
                                            td Từ số 467 đến số 468
                                        tr
                                            td Tình trạng
                                            td Còn hiệu lực
                            .col-sm-3.col-6
                                table.table.table-bordered
                                    thead
                                        tr
                                            th Văn bản được hợp nhất
                                    tbody
                                        tr
                                            td Không có văn bản nào..
                                table.table.table-bordered
                                    thead
                                        tr
                                            th Văn bản bị sửa đổi nội dung
                                    tbody
                                        tr
                                            td Không có văn bản nào..
                                table.table.table-bordered
                                    thead
                                        tr
                                            th Văn bản bị đính chính
                                    tbody
                                        tr
                                            td Không có văn bản nào..
                                table.table.table-bordered
                                    thead
                                        tr
                                            th Văn bản bị thay thế
                                    tbody
                                        tr
                                            td Không có văn bản nào..
                                table.table.table-bordered
                                    thead
                                        tr
                                            th Văn bản được dẫn chiếu
                                    tbody
                                        tr
                                            td Không có văn bản nào..
                                table.table.table-bordered
                                    thead
                                        tr
                                            th Văn bản được căn cứ
                                    tbody
                                        tr
                                            td Không có văn bản nào..
                            .col-sm-3.col-6
                                table.table.table-bordered
                                    thead
                                        tr
                                            th Văn bản hướng dẫn
                                    tbody
                                        tr
                                            td
                                                .post.post-wrapper.list-item.mb-0                                
                                                    .post_body.p-0
                                                        h6.post_title.mb-0.font-normal
                                                            a(href="./article_detail.html" title="Nghị định 09/2019/NĐ-CP quy định về chế độ báo cáo của cơ quan hành chính nhà nước") Nghị định 09/2019/NĐ-CP quy định về chế độ báo cáo của cơ quan hành chính nhà nước
                                        tr
                                            td
                                                .post.post-wrapper.list-item.mb-0                                
                                                    .post_body.p-0
                                                        h6.post_title.mb-0.font-normal
                                                            a(href="./article_detail.html" title="Chỉ thị 03/CT-TTg năm 2019 thực hiện Nghị quyết 582/NQ-UBTVQH14 về nhiệm vụ giải pháp tiếp tục đẩy mạnh thực hiện chính sách, pháp luật về quản lý và sử dụng nguồn vốn vay nước ngoài do Thủ tướng Chính phủ ban hành") Chỉ thị 03/CT-TTg năm 2019 thực hiện Nghị quyết 582/NQ-UBTVQH14 về nhiệm vụ giải pháp tiếp tục đẩy mạnh thực hiện chính sách, ...
                                table.table.table-bordered
                                    thead
                                        tr
                                            th Văn bản hợp nhất
                                    tbody
                                        tr
                                            td Không có văn bản nào..
                                table.table.table-bordered
                                    thead
                                        tr
                                            th Văn bản sửa đổi nội dung
                                    tbody
                                        tr
                                            td Không có văn bản nào..
                                table.table.table-bordered
                                    thead
                                        tr
                                            th Văn bản đính chính
                                    tbody
                                        tr
                                            td Không có văn bản nào..
                                table.table.table-bordered
                                    thead
                                        tr
                                            th Văn bản thay thế
                                    tbody
                                        tr
                                            td Không có văn bản nào..
                                table.table.table-bordered
                                    thead
                                        tr
                                            th Văn bản liên quan nội dung
                                    tbody
                                        tr
                                            td Không có văn bản nào..
                    +tab-item('tab5')
                        .row
                            .col Tab 5
                    +tab-item('tab6')
                        .row
                            .col Tab 6
                    +tab-item('tab7')
                        .row
                            .col Tab 7
            .col-lg-3
                .ads-side
                    img.w-100(src="../assets/ads-side.jpg", alt="")