extends ../layouts/layout_homepage.pug
include ../mixins/_tab.pug
include ../mixins/_post-control.pug
block append main-content
    //- .container.search-wrapper.mt-5
    //-     nav(aria-label="breadcrumb")
    //-         ol.breadcrumb
    //-             li.breadcrumb-item
    //-                 a(href="./index.html") Trang chủ
    //-             li.breadcrumb-item
    //-                 a(href="./index.html") Văn bản luật
    //-             li.breadcrumb-item.active(aria-current="page") Văn bản
    .container.mt-5
        .row
            .col-lg-9
                +article-tabs([{id: 'tab1',name: 'Thuộc tính'},{id: 'tab2',name: 'Nội dung'},{id: 'tab3',name: 'Văn bản gốc'},{id: 'tab4',name: 'Lược đồ'},{id: 'tab5',name: 'Liên quan hiệu lực'},{id: 'tab6',name: 'Liên quan nội dung'},{id: 'tab7',name: 'Tải về'}])         
                    +tab-item('tab1','true')
                        .row
                            .col.content-wrapper
                                p Chỉ thị 03/CT-TTg năm 2019 thực hiện Nghị quyết 582/NQ-UBTVQH14 về nhiệm vụ giải pháp tiếp tục đẩy mạnh thực hiện chính sách, pháp luật về quản lý và sử dụng nguồn vốn vay nước ngoài do Thủ tướng Chính phủ ban hành
                                .row.no-gutter
                                    .col-sm-6
                                        table.table.table-bordered
                                            tbody
                                                tr
                                                    td.name Số hiệu
                                                    td.data 03/CT-TTg
                                                tr
                                                    td.name Nơi ban hành
                                                    td.data Thủ tướng Chính phủ
                                                tr
                                                    td.name Ngày ban hành
                                                    td.data 30/01/2019
                                                tr
                                                    td.name Ngày công báo
                                                    td.data Đang cập nhật
                                    .col-sm-6
                                        table.table.table-bordered
                                            tbody
                                                tr
                                                    td.name Loại văn bản
                                                    td.data Chỉ thị
                                                tr
                                                    td.name Người ký
                                                    td.data Nguyễn Xuân Phúc
                                                tr
                                                    td.name Ngày hiệu lực
                                                    td.data 30/01/2019
                                                tr
                                                    td.name Số công báo
                                                    td.data Đang cập nhật
                                                tr
                                                    td.name Tình trạng
                                                    td.data.text-red Còn hiệu lực

                                
                    +tab-item('tab2')
                        .row
                            .col
                                .article
                                    table.w-100
                                        thead
                                            tr
                                                td(valign="top" style="width:167.4pt;padding:0cm 5.4pt 0cm 5.4pt")
                                                    p(align="center" style="margin-top:6.0pt;text-align:center")
                                                        b CHÍNH PHỦ
                                                        br
                                                        |--------
                                                td(valign="top" style="width:275.4pt;padding:0cm 5.4pt 0cm 5.4pt")
                                                    p(align="center" style="margin-top:6.0pt;text-align:center")
                                                        b CỘNG HÒA XÃ HỘI CHỦ NGHĨA VIỆT NAM
                                                        br 
                                                        |Độc lập - Tự do - Hạnh phúc
                                                        br
                                                        |---------------
                                            tr
                                                td(valign="top" style="width:167.4pt;padding:0cm 5.4pt 0cm 5.4pt")
                                                    p(align="center" style="margin-top:6.0pt;text-align:center") Số: 32/2015/NĐ-CP
                                                td(valign="top" style="width:275.4pt;padding:0cm 5.4pt 0cm 5.4pt")
                                                    p(align="center" style="margin-top:6.0pt;text-align:center")
                                                        i Hà Nội, ngày 25 tháng 03 năm 2015
                                    p(style="margin-top:6.0pt")
                                        span(lang="VI")  
                                    p(align="center" style="margin-top:6.0pt;text-align:center")
                                        b
                                        span(lang="VI", style="font-size:12.0pt") NGHỊ ĐỊNH
                                    p(align="center" style="margin-top:6.0pt;text-align:center")
                                        span(lang="VI") VỀ QUẢN LÝ CHI PHÍ ĐẦU TƯ XÂY DỰNG
                                    p(style="margin-top:6.0pt")
                                        i
                                        span(lang="VI") Căn cứ Luật Tổ chức Chính phủ ngày 25 tháng 12 năm 2001;
                                    p(style="margin-top:6.0pt")
                                        i
                                        span(lang="VI") Căn cứ Luật Xây dựng ngày 18 tháng 6 năm 2014;
                                    p(style="margin-top:6.0pt")
                                        i
                                        span(lang="VI") Theo đề nghị của Bộ trưởng Bộ Xây dựng;
                                    p(style="margin-top:6.0pt")
                                        i
                                        span(lang="VI") Chính phủ ban hành Nghị định về quản lý chi phí đầu tư xây dựng.
                                    p(style="margin-top:6.0pt")
                                        a(name="chuong_1")
                                        b Chương I
                                    p(align="center" style="margin-top:6.0pt;text-align:center")
                                        a(name="chuong_1_name")
                                        b
                                            span(style="font-size:12.0pt") NHỮNG QUY ĐỊNH CHUNG
                                    p(style="margin-top:6.0pt")
                                        a(name="dieu_1")
                                        b
                                            span(lang="VI") Điều 1. Phạm vi
                                    p(style="margin-top:6.0pt")
                                        span(lang="VI")
                                        | 1. Nghị định này quy định về quản lý chi phí đầu tư xây dựng gồm tổng mức đầu tư xây dựng, dự toán xây dựng, dự toán gói thầu xây dựng, định mức xây dựng, giá xây dựng, chỉ số giá xây dựng, chi phí quản lý dự án và tư vấn đầu tư xây dựng, thanh toán và quyết toán hợp đồng xây dựng; thanh toán và quyết toán vốn đầu tư xây dựng công trình; quyền và nghĩa vụ của người quyết định đầu tư, chủ đầu tư, nhà thầu xây dựng và nhà thầu tư vấn trong quản lý chi phí đầu tư xây dựng.
                                    p(style="margin-top:6.0pt")
                                        span(lang="VI")
                                        | 2. Đối với các dự án đầu tư xây dựng sử dụng nguồn vốn hỗ trợ phát triển chính thức (gọi tắt là ODA), nếu điều ước quốc tế mà nước Cộng hòa xã hội chủ nghĩa Việt Nam là thành viên có quy định khác với quy định của Nghị định này thì áp dụng quy định của điều ước quốc tế đó.
                                    p(style="margin-top:6.0pt")
                                        a(name="dieu_1")
                                        b
                                            span(lang="VI") Điều 2. Đối tượng áp dụng
                                    p(style="margin-top:6.0pt")
                                        span(lang="VI")
                                        | 1. Nghị định này áp dụng đối với cơ quan, tổ chức, cá nhân có liên quan đến quản lý chi phí đầu tư xây dựng các dự án sử dụng vốn ngân sách nhà nước và vốn nhà nước ngoài ngân sách quy định tại Khoản 1 và Khoản 2 Điều 60 Luật Xây dựng.
                                    p(style="margin-top:6.0pt")
                                        span(lang="VI")
                                        | 2. Đối với các dự án đầu tư xây dựng sử dụng nguồn vốn hỗ trợ phát triển chính thức (gọi tắt là ODA), nếu điều ước quốc tế mà nước Cộng hòa xã hội chủ nghĩa Việt Nam là thành viên có quy định khác với quy định của Nghị định này thì áp dụng quy định của điều ước quốc tế đó.
                                    p(align="center" style="margin-top:6.0pt;text-align:center")
                                        a(name="chuong_2_name")
                                        b
                                            span(style="font-size:12.0pt") TỔNG MỨC ĐẦU TƯ XÂY DỰNG
                                    p(style="margin-top:6.0pt")
                                        a(href="#" data-toggle="modal" data-target="#modalContent")
                                            b
                                                span(lang="VI")
                                                mark Điều 4. Nội dung sơ bộ tổng mức đầu tư và tổng mức đầu tư xây dựng
                    +tab-item('tab3')
                        .row
                            .col Tab 3
                    +tab-item('tab4')
                        .row
                            .col-sm-6
                                table.table.table-bordered.table_current-view
                                    thead
                                        tr
                                            th(colspan="2") Văn bản đang xem
                                    tbody
                                        tr
                                            td.border-top-0(colspan="2") Nghị định 32/2015/NĐ-CP về Quản lý chi phí đầu tư xây dựng
                                        tr
                                            td Số hiệu
                                            td 32/2015/NĐ-CP
                                        tr
                                            td Loại văn bản
                                            td Nghị định
                                        tr
                                            td Lĩnh vực, ngành
                                            td Đầu tư, Xây dựng - Đô thị
                                        tr
                                            td Nơi ban hành
                                            td Chính phủ
                                        tr
                                            td Người ký
                                            td Nguyễn Tấn Dũng
                                        tr
                                            td Ngày ban hành
                                            td 25/03/2015
                                        tr
                                            td Ngày hiệu lực
                                            td 10/05/2015
                                        tr
                                            td Ngày đăng
                                            td 08/04/2015
                                        tr
                                            td Số công báo
                                            td Từ số 467 đến số 468
                                        tr
                                            td Tình trạng
                                            td Còn hiệu lực
                            .col-sm-3.col-6
                                table.table.table-bordered
                                    thead
                                        tr
                                            th Văn bản được hợp nhất
                                    tbody
                                        tr
                                            td Không có văn bản nào..
                                table.table.table-bordered
                                    thead
                                        tr
                                            th Văn bản bị sửa đổi nội dung
                                    tbody
                                        tr
                                            td Không có văn bản nào..
                                table.table.table-bordered
                                    thead
                                        tr
                                            th Văn bản bị đính chính
                                    tbody
                                        tr
                                            td Không có văn bản nào..
                                table.table.table-bordered
                                    thead
                                        tr
                                            th Văn bản bị thay thế
                                    tbody
                                        tr
                                            td Không có văn bản nào..
                                table.table.table-bordered
                                    thead
                                        tr
                                            th Văn bản được dẫn chiếu
                                    tbody
                                        tr
                                            td Không có văn bản nào..
                                table.table.table-bordered
                                    thead
                                        tr
                                            th Văn bản được căn cứ
                                    tbody
                                        tr
                                            td Không có văn bản nào..
                            .col-sm-3.col-6
                                table.table.table-bordered
                                    thead
                                        tr
                                            th Văn bản hướng dẫn
                                    tbody
                                        tr
                                            td
                                                .post.post-wrapper.list-item.mb-0                                
                                                    .post_body.p-0
                                                        h6.post_title.mb-0.font-normal
                                                            a(href="./article_detail.html" title="Nghị định 09/2019/NĐ-CP quy định về chế độ báo cáo của cơ quan hành chính nhà nước") Nghị định 09/2019/NĐ-CP quy định về chế độ báo cáo của cơ quan hành chính nhà nước
                                        tr
                                            td
                                                .post.post-wrapper.list-item.mb-0                                
                                                    .post_body.p-0
                                                        h6.post_title.mb-0.font-normal
                                                            a(href="./article_detail.html" title="Chỉ thị 03/CT-TTg năm 2019 thực hiện Nghị quyết 582/NQ-UBTVQH14 về nhiệm vụ giải pháp tiếp tục đẩy mạnh thực hiện chính sách, pháp luật về quản lý và sử dụng nguồn vốn vay nước ngoài do Thủ tướng Chính phủ ban hành") Chỉ thị 03/CT-TTg năm 2019 thực hiện Nghị quyết 582/NQ-UBTVQH14 về nhiệm vụ giải pháp tiếp tục đẩy mạnh thực hiện chính sách, ...
                                table.table.table-bordered
                                    thead
                                        tr
                                            th Văn bản hợp nhất
                                    tbody
                                        tr
                                            td Không có văn bản nào..
                                table.table.table-bordered
                                    thead
                                        tr
                                            th Văn bản sửa đổi nội dung
                                    tbody
                                        tr
                                            td Không có văn bản nào..
                                table.table.table-bordered
                                    thead
                                        tr
                                            th Văn bản đính chính
                                    tbody
                                        tr
                                            td Không có văn bản nào..
                                table.table.table-bordered
                                    thead
                                        tr
                                            th Văn bản thay thế
                                    tbody
                                        tr
                                            td Không có văn bản nào..
                                table.table.table-bordered
                                    thead
                                        tr
                                            th Văn bản liên quan nội dung
                                    tbody
                                        tr
                                            td Không có văn bản nào..
                    +tab-item('tab5')
                        .row.search-wrapper
                            .col.posts-group
                                .group_content
                                    .post.post-wrapper.list-item
                                        .post_thumbnail.tb-red TT                              
                                        .post_body
                                            h6.post_title
                                                a(href="./article_detail.html" title="Thông tư 28/2012/TT-BTC quy định về quản lý vốn đầu tư thuộc nguồn vốn ngân sách xã, phường, thị trấn do Bộ Tài chính ban hành") Thông tư 28/2012/TT-BTC quy định về quản lý vốn đầu tư thuộc nguồn vốn ngân sách xã, phường, thị trấn do Bộ Tài chính ban hành
                                            +post-control()
                                        .post_status
                                            div Ban hành: 
                                                span 30/01/2019
                                            div Hiệu lực: 
                                                span 30/01/2019
                                            div Tình trạng: 
                                                span.text-red Còn hiệu lực
                                            div Cập nhật: 
                                                span 31/01/2019
                                    .post.post-wrapper.list-item
                                        .post_thumbnail.tb-red TT                              
                                        .post_body
                                            h6.post_title
                                                a(href="./article_detail.html" title="Thông tư 09/2016/TT-BTC Quy định về quyết toán dự án hoàn thành thuộc nguồn vốn Nhà nước do Bộ trưởng Bộ Tài chính ban hành") Thông tư 09/2016/TT-BTC Quy định về quyết toán dự án hoàn thành thuộc nguồn vốn Nhà nước do Bộ trưởng Bộ Tài chính ban hành
                                            +post-control()
                                        .post_status
                                            div Ban hành: 
                                                span 30/01/2019
                                            div Hiệu lực: 
                                                span 30/01/2019
                                            div Tình trạng: 
                                                span.text-red Còn hiệu lực
                                            div Cập nhật: 
                                                span 31/01/2019
                    +tab-item('tab6')
                        .row.search-wrapper
                            .col.posts-group
                                .group_content
                                    .post.post-wrapper.list-item
                                        .post_thumbnail.tb-blue CV                              
                                        .post_body
                                            h6.post_title
                                                a(href="./article_detail.html" title="Công văn 13496/BTC-ĐT năm 2017 về xử lý dứt điểm tình trạng tồn đọng quyết toán các dự án hoàn thành từ năm 2005 đến năm 2014 do không đủ hồ sơ quyết toán do Bộ Tài chính ban hành") Công văn 13496/BTC-ĐT năm 2017 về xử lý dứt điểm tình trạng tồn đọng quyết toán các dự án hoàn thành từ năm 2005 đến năm 2014 do không đủ hồ sơ quyết toán do Bộ Tài chính ban hành
                                            +post-control()
                                        .post_status
                                            div Ban hành: 
                                                span 30/01/2019
                                            div Hiệu lực: 
                                                span 30/01/2019
                                            div Tình trạng: 
                                                span.text-red Còn hiệu lực
                                            div Cập nhật: 
                                                span 31/01/2019
                                    .post.post-wrapper.list-item
                                        .post_thumbnail.tb-blue CV                             
                                        .post_body
                                            h6.post_title
                                                a(href="./article_detail.html" title="Công văn 2236/BXD-KTXD năm 2017 hướng dẫn thẩm quyền phê duyệt quyết toán dự án hoàn thành do Bộ Xây dựng ban hành") Công văn 2236/BXD-KTXD năm 2017 hướng dẫn thẩm quyền phê duyệt quyết toán dự án hoàn thành do Bộ Xây dựng ban hành
                                            +post-control()
                                        .post_status
                                            div Ban hành: 
                                                span 30/01/2019
                                            div Hiệu lực: 
                                                span 30/01/2019
                                            div Tình trạng: 
                                                span.text-red Còn hiệu lực
                                            div Cập nhật: 
                                                span 31/01/2019
                    +tab-item('tab7')
                        .row
                            .col.download
                                a(href="#")
                                    i.fas.fa-download.pr-2
                                    | Tải về pdf
                                a(href="#") 
                                    i.fas.fa-download.pr-2
                                    | Tải về văn bản gốc
            .col-lg-3
                .ads-side
                    img.w-100(src="../assets/ads-side.jpg", alt="")
    //- MODAL CONTENT
    #modalContent.modal.fade(tabindex="-1" role="dialog" aria-labelledby="modalContentLabel" aria-hidden="true")
        .modal-dialog.custom-lg-modal.draggable(role="document")
            .modal-content
                .modal-header
                    h5.modal-title.w-100.text-center.text-green.font-bold#modalLoginLabel Các nội dung sửa đổi hướng dẫn
                    button.close(type="button" data-dismiss="modal" aria-label="Close")
                        span(aria-hidden="true") &times;
                .modal-body.py-0.container-fluid
                    .row
                        .col-sm-5.bg-grey.pt-4
                            a(href="#") Nội dung tổng mức đầu tư xây dựng được hướng dẫn bởi Điều 3 Thông tư 06/2016/TT-BXD
                        .col-sm-7.pt-4
                            a(href="#") Xem nội dung VB
                            p Căn cứ Nghị định số 32/2015/NĐ-CP ngày 25/3/2015 của Chính phủ về quản lý chi phí đầu tư xây dựng;
                            p Điều 3. Nội dung tổng mức đầu tư xây dựng 
                            p 1. Nội dung tổng mức đầu tư xây dựng theo quy định tại Khoản 4 Điều 4 Nghị định số 32/2015/NĐ-CP, trong đó chi phí quản lý dự án, chi phí tư vấn đầu tư xây dựng và chi phí khác được quy định cụ thể như sau:

block script-append
    script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.js")
    script.
        $(function(){
            $( ".draggable" ).draggable();
        })