extends ../layouts/layout.pug

block append main-content
    .container.search-wrapper.mt-5
        .row
            .col
                .posts-group
                    .group_heading.red-line.font-title.mb-3 Tra cứu
                    .group_content
                        .search_option
                            h6.text-uppercase Tìm văn bản pháp luật Việt Nam theo định mức
                            .input-group.mb-3
                                .input-group-prepend.w-md-full
                                    select#ddlType.form-control
                                        option(selected disabled) Loại định mức
                                        option(value="1") Xây dựng
                                        option(value="2") Lắp đặt
                                        option(value="3") Sửa chữa
                                        option(value="4") Đô thị
                                        option(value="5") Khảo sát
                                        option(value="6") Thí nghiệm vật liệu
                                        option(value="7") Bom mìn
                                        option(value="8") Giao thông
                                        option(value="9") Chống mối
                                        option(value="10") Hầm lò
                                        option(value="11") Lắp đặt máy - thiết bị
                                        option(value="12") Thủy công - thiết bị
                                        option(value="13") Viễn thông
                                        option(value="14") Xăng dầu
                                        option(value="15") Khác
                                    input#iptFromYear.form-control.datepicker.border-left-none.text-center(type="text" placeholder="Từ năm")
                                    input#iptToYear.form-control.datepicker.border-left-none.text-center(type="text" placeholder="Đến năm")
                                input.form-control.br-none.search-box(type="text" placeholder="Nhập nội dung văn bản cần tìm..." aria-label="Enter finding text" aria-describedby="button-addon2")
                                .input-group-append
                                    button.btn.btn-white.btn-search(type="button" id="button-addon2")
                                        i.fas.fa-search
    .container.search-wrapper.mt-5
        .row
            .col-md-8.posts-group
                .group_heading.brown-line.font-title.mb-3 Kết quả tìm kiếm
                .group_content
                    .post.post-wrapper.list-item
                        .post_thumbnail.tb-green NĐ   
                            .post_count 1                                     
                        .post_body
                            h6.post_title
                                a(href="#" title="Nghị định 09/2019/NĐ-CP quy định về chế độ báo cáo của cơ quan hành chính nhà nước") Nghị định 09/2019/NĐ-CP quy định về chế độ báo cáo của cơ quan hành chính nhà nước
                            .post_footer
                                a(href="#") Thuộc tính
                                a(href="#") VB liên quan
                                a(href="#") Lược đồ
                                a(href="#") Liên quan hiệu lực
                                a(href="#") Tải về
                        .post_status
                            div Ban hành: 
                                span 30/01/2019
                            div Hiệu lực: 
                                span 30/01/2019
                            div Tình trạng: 
                                span.text-red Còn hiệu lực
                            div Cập nhật: 
                                span 31/01/2019
                    .post.post-wrapper.list-item
                        .post_thumbnail.tb-cyan QĐ
                            .post_count 2 
                        .post_body
                            h6.post_title
                                a(href="#" title="Quyết định 05/2019/QĐ-TTg bãi bỏ văn bản quy phạm pháp luật do Thủ tướng Chính phủ ban hành") Quyết định 05/2019/QĐ-TTg bãi bỏ văn bản quy phạm pháp luật do Thủ tướng Chính phủ ban hành
                            .post_footer
                                a(href="#") Thuộc tính
                                a(href="#") VB liên quan
                                a(href="#") Lược đồ
                                a(href="#") Liên quan hiệu lực
                                a(href="#") Tải về
                        .post_status
                            div Ban hành: 
                                span 30/01/2019
                            div Hiệu lực: 
                                span 30/01/2019
                            div Tình trạng: 
                                span.text-red Còn hiệu lực
                            div Cập nhật: 
                                span 31/01/2019
                    .post.post-wrapper.list-item
                        .post_thumbnail.tb-red TT
                            .post_count 3
                        .post_body
                            h6.post_title
                                a(href="#" title="Thông tư 30/2018/TT-BGDĐT về Quy chế quản lý người nước ngoài học tập tại Việt Nam do Bộ trưởng Bộ Giáo dục và Đào tạo ban hành") Thông tư 30/2018/TT-BGDĐT về Quy chế quản lý người nước ngoài học tập tại Việt Nam ...
                            .post_footer
                                a(href="#") Thuộc tính
                                a(href="#") VB liên quan
                                a(href="#") Lược đồ
                                a(href="#") Liên quan hiệu lực
                                a(href="#") Tải về
                        .post_status
                            div Ban hành: 
                                span 30/01/2019
                            div Hiệu lực: 
                                span 30/01/2019
                            div Tình trạng: 
                                span.text-red Còn hiệu lực
                            div Cập nhật: 
                                span 31/01/2019
                    .post.post-wrapper.list-item
                        .post_thumbnail.tb-brown CT
                            .post_count 4
                        .post_body
                            h6.post_title
                                a(href="#" title="Chỉ thị 01/CT-BXD năm 2019 về tổ chức Tết và tăng cường biện pháp bảo đảm đón Tết Nguyên đán Kỷ Hợi 2019 vui tươi, lành mạnh, an toàn, tiết kiệm do Bộ Xây dựng ban hành") Chỉ thị 01/CT-BXD năm 2019 về tổ chức Tết và tăng cường biện pháp bảo đảm đón Tết Nguyên đán ...
                            .post_footer
                                a(href="#") Thuộc tính
                                a(href="#") VB liên quan
                                a(href="#") Lược đồ
                                a(href="#") Liên quan hiệu lực
                                a(href="#") Tải về
                        .post_status
                            div Ban hành: 
                                span 30/01/2019
                            div Hiệu lực: 
                                span 30/01/2019
                            div Tình trạng: 
                                span.text-red Còn hiệu lực
                            div Cập nhật: 
                                span 31/01/2019
                    .post.post-wrapper.list-item
                        .post_thumbnail.tb-purple TB
                            .post_count 5
                        .post_body
                            h6.post_title
                                a(href="#" title="Thông báo 42/TB-VPCP của Văn phòng Chính phủ về kết luận của Phó Thủ tướng Trịnh Đình Dũng tạo cuộc họp về dự thảo Quyết định của Thủ tướng Chính phủ về một số cơ chế, chính sách đặc thù về đầu tư các dự án xây dựng, nâng cấp cơ sở dịch vụ hậu cần nghề cá tại 04 tỉnh miền Trung") Thông báo 42/TB-VPCP của Văn phòng Chính phủ về kết luận của Phó Thủ tướng Trịnh Đình Dũng tạo cuộc họp về dự thảo Quyết định của Thủ tướng Chính phủ về một số cơ chế, chính sách đặc thù về đầu tư các dự án xây dựng, nâng cấp cơ sở dịch vụ hậu cần nghề cá tại 04 tỉnh miền Trung
                            .post_footer
                                a(href="#") Thuộc tính
                                a(href="#") VB liên quan
                                a(href="#") Lược đồ
                                a(href="#") Liên quan hiệu lực
                                a(href="#") Tải về
                        .post_status
                            div Ban hành: 
                                span 30/01/2019
                            div Hiệu lực: 
                                span 30/01/2019
                            div Tình trạng: 
                                span.text-red Còn hiệu lực
                            div Cập nhật: 
                                span 31/01/2019
                    .post.post-wrapper.list-item
                        .post_thumbnail.tb-blue CV
                            .post_count 6
                        .post_body
                            h6.post_title
                                a(href="#" title="Công văn 1426/BTC-CST của Bộ Tài chính về thuế giá trị gia tăng, thuế xuất khẩu đối với mặt hàng xi măng xuất khẩu") Công văn 1426/BTC-CST của Bộ Tài chính về thuế giá trị gia tăng, thuế xuất khẩu đối với mặt hàng xi măng xuất khẩu
                            .post_footer
                                a(href="#") Thuộc tính
                                a(href="#") VB liên quan
                                a(href="#") Lược đồ
                                a(href="#") Liên quan hiệu lực
                                a(href="#") Tải về
                        .post_status
                            div Ban hành: 
                                span 30/01/2019
                            div Hiệu lực: 
                                span 30/01/2019
                            div Tình trạng: 
                                span.text-red Còn hiệu lực
                            div Cập nhật: 
                                span 31/01/2019
                    nav(aria-label="Page navigation example")
                        ul.pagination.justify-content-end
                            li.page-item.disabled
                                a.page-link(href="#" aria-label="Previous")
                                    span(aria-hidden="true") &laquo;
                            li.page-item.active
                                a.page-link(href="#") 1
                            li.page-item
                                a.page-link(href="#") 2
                            li.page-item
                                a.page-link(href="#") 3
                            li.page-item
                                a.page-link(href="#") 4
                            li.page-item
                                a.page-link(href="#") 5
                            li.page-item
                                a.page-link(href="#" aria-label="Previous")
                                    span(aria-hidden="true") &raquo;
            .col-md-4.posts-group
                .group_heading.red-line.font-title.mb-3 Văn bản liên quan
                .group_content
                    .post.post-wrapper.list-item                                  
                        .post_body.p-0
                            h6.post_title
                                a(href="#" title="Nghị định 09/2019/NĐ-CP quy định về chế độ báo cáo của cơ quan hành chính nhà nước") Nghị định 09/2019/NĐ-CP quy định về chế độ báo cáo của cơ quan hành chính nhà nước
                            .post_info.pb-0
                                .post_time 31/01/2019
                    .post.post-wrapper.list-item                                  
                        .post_body.p-0
                            h6.post_title
                                a(href="#" title="Chỉ thị 03/CT-TTg năm 2019 thực hiện Nghị quyết 582/NQ-UBTVQH14 về nhiệm vụ giải pháp tiếp tục đẩy mạnh thực hiện chính sách, pháp luật về quản lý và sử dụng nguồn vốn vay nước ngoài do Thủ tướng Chính phủ ban hành") Chỉ thị 03/CT-TTg năm 2019 thực hiện Nghị quyết 582/NQ-UBTVQH14 về nhiệm vụ giải pháp tiếp tục đẩy mạnh thực hiện chính sách, pháp luật về quản lý và sử dụng nguồn vốn vay nước ngoài do Thủ tướng Chính phủ ban hành
                            .post_info.pb-0
                                .post_time 31/01/2019
                    .post.post-wrapper.list-item                                  
                        .post_body.p-0
                            h6.post_title
                                a(href="#" title="Quyết định 135/QĐ-TTg năm 2019 về giao kế hoạch đầu tư trung hạn giai đoạn 2016-2020 và năm 2019 vốn ngân sách trung ương (trái phiếu Chính phủ) cho dự án đường sắt và đường bộ quan trọng, cấp bách do Thủ tướng Chính phủ ban hành") Quyết định 135/QĐ-TTg năm 2019 về giao kế hoạch đầu tư trung hạn giai đoạn 2016-2020 và năm 2019 vốn ngân sách trung ương (trái phiếu Chính phủ) cho dự án đường sắt và đường bộ quan trọng, cấp bách do Thủ tướng Chính phủ ban hành
                            .post_info.pb-0
                                .post_time 31/01/2019
                    .post.post-wrapper.list-item                                  
                        .post_body.p-0
                            h6.post_title
                                a(href="#" title="Quyết định 274/QĐ-BGDĐT về Kế hoạch kiểm soát thủ tục hành chính năm 2019 của Bộ Giáo dục và Đào tạo") Quyết định 274/QĐ-BGDĐT về Kế hoạch kiểm soát thủ tục hành chính năm 2019 của Bộ Giáo dục và Đào tạo
                            .post_info.pb-0
                                .post_time 31/01/2019
                    .post.post-wrapper.list-item                                  
                        .post_body.p-0
                            h6.post_title
                                a(href="#" title="Nghị định 11/2010/NĐ-CP sửa đổi Nghị định có quy định thủ tục hành chính liên quan đến yêu cầu nộp bản sao giấy tờ có công chứng, chứng thực thuộc phạm vi chức năng quản lý của Bộ Văn hóa, Thể thao và Du lịch") Nghị định 11/2010/NĐ-CP sửa đổi Nghị định có quy định thủ tục hành chính liên quan đến yêu cầu nộp bản sao giấy tờ có công chứng, chứng thực thuộc phạm vi chức năng quản lý của Bộ Văn hóa, Thể thao và Du lịch
                            .post_info.pb-0
                                .post_time 31/01/2019
                    .post.post-wrapper.list-item                                  
                        .post_body.p-0
                            h6.post_title
                                a(href="#" title="Nghị định 10/2019/NĐ-CP về thực hiện quyền, trách nhiệm của cơ quan đại diện chủ sở hữu nhà nước") Nghị định 10/2019/NĐ-CP về thực hiện quyền, trách nhiệm của cơ quan đại diện chủ sở hữu nhà nước
                            .post_info.pb-0
                                .post_time 31/01/2019
                    .text-right
                        a.btn.btn-outline-red(href="#") Xem thêm
block script-append
    script.
        $(function(){
            $('.datepicker').datepicker({
                format: "yyyy",
                startView: 2,
                minViewMode: 2
            });
        })