<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        block title-page
        //- Font Awesome
        link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous")
        //- Bootstrap core CSS
        link(href="../css/bootstrap.min.css" rel="stylesheet")
        //- Addons
        link(href="../css/bootstrap-datepicker.min.css" rel="stylesheet")
        //- Custom style
        link(href="../css/app.css" rel="stylesheet")
    body
        .main-wrapper
            .main-header
                .site-overlay
                include ../partials/nav_logged.pug
            .main-content
                block main-content
            .main-footer
                include ../partials/footer.pug
        //- JQuery
        script(src="../js/jquery-3.3.1.min.js")
        script(src="../js/popper.min.js")
        script(src="../js/bootstrap.min.js")
        script(src="../js/bootstrap-datepicker.min.js")
        script(src="../js/main.js")
        block script-append
        
        