mixin post-control()
    .post_footer
        a(href="#" data-toggle="tooltip" data-placement="bottom" title="Tooltip on bottom") Thuộc tính
        a(href="#" data-toggle="tooltip" data-placement="bottom" title="Tooltip on bottom") VB liên quan
        a(href="#" data-toggle="tooltip" data-placement="bottom" title='"Gia phả" của văn bản này với toàn bộ văn bản liên quan') Lược đồ
        a(href="#" data-toggle="tooltip" data-placement="bottom" title="Những văn bản thay thế văn bản này hoặc bị văn bản này thay thế, bổ sung") Liên quan hiệu lực
        a(href="#") Tải về